
body {
    max-width: 1500px;
}

/* ヘッダー全体 */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.log-img {
    width: 15%;
}
/* ヘッダーナビ */
.nav-list {
    display: flex;
    list-style: none;
    
}
.nav-item {
    text-decoration: none;
    color: rgb(153, 153, 153);
    margin-right: 10px;
    font-size: 12px;
}

/* メインの画像とタイトル */
.main-img { 
    width: 60%;
    display: block;
    margin-left: auto;
    position: relative;
}
.ttl {
    position: absolute;
    top: 10%;
    left: 20%;
    /* 拡大縮小で画面幅に合わせる場合は％を使う widthを％にする */
}
.main-ttl {
    color: rgb(189, 61, 131);
    font-family: cursive;
    /* 字体が不明 */
    line-height: 100px;
    font-size: 50px;
}
@media screen and (max-width: 768px) {
    .main-ttl {
        font-size: 25px;
        line-height: normal;
    }
}
@media screen and (max-width: 480px) {
    .main-ttl {
        font-size: 18px;
        line-height: normal;
    }
}
.main-ttl-text {
    color: rgb(189, 61, 131);
    font-weight: bold;
    margin-bottom: 0;
}
@media screen and (max-width: 768px) {
    .main-ttl-text {
        font-size: 50%;
    }
}
.main-ttl-span {
    color: rgb(7, 192, 152);
}
.main-ttl-text-information {
    color: rgb(153, 153, 153);
    font-size: 12px;
    margin-top: 0;
}


/* グループ１　News */
.group1 {
    width: 60%;
    margin: 50px auto;
}
.subtitle-item {
    margin-top: 0;
}
.subtitle-item {
    color: rgb(189, 61, 131);
    font-family: cursive;
    margin-bottom: 10px;
}
.section-ttl {
    margin: 10px 0 20px 0;
}
.list {
    border-top: solid 1px rgb(153, 153, 153);
    border-bottom: solid 1px rgb(153, 153, 153);
    padding:10px 0;
}
.list-item {
    list-style: none;
    margin: 18px  0;
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(153, 153, 153);
    font-size: 13px;
    color: rgb(153, 153, 153);
}
@media screen and (min-width: 768px) {
    .sp {
        display: none;
        }
}
.list-item-news {
    margin: 0 25px;
    padding: 0 13px;
    border-radius: 15px;
    background-color: rgb(189, 61, 131);
    color: white;
}


/* グループ２　About */
.group2 {
    background-color: rgb(216, 216, 216);
}
.subtitle2 {
    text-align: center;
    padding-top: 30px;
}
.content-item-img {
    width: 40%;
}
.content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 46px;
}
.content-item {
    margin-right: 200px;
}
.content-item-text {
    color: gray;
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .content-item {
        margin-right: 0px;
    }
    .content-item-img {
        width: 100%;
    }
}


/* グループ３　Service */
.group3 {
    width: 70%;
    margin: 50px auto;
}
.text-item {
    display: flex;
    width: 100%;
    height: 400px;
}
.sumple-ttl {
    color: rgb(235, 222, 222);
    font-size: 18px;
    line-height: 30px;
}
.sumple-text {
    color: rgb(235, 222, 222);
    /* font-size: 18px; */
    line-height: 30px;
}
.section-bg1 {
    background-color: rgb(173, 41, 123);
    width: 50%;
    
}
.first-view1 {
    width: 30%;
    display: block;
    margin: 30px auto 20px;
}
.first-view2 {
    width: 30%;
}
.section-bg2 {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(196, 82, 144);
}
.section-bg3 {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(197, 155, 178);
}
.sumple-group {
    margin: auto 15px;
}
.sumple-group1 {
    margin: auto 15px;
}
@media screen and (max-width: 768px) {
    .text-item {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .section-bg1 {
        width: 100%;
    }
}


/* グループ４　Blog */
.group4 {
    background-color: rgb(216, 216, 216);
}
.group4-all {
width: 70%;
margin: 0 auto;
}
.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-contener {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin-right: 40px;
}
.card-contener:last-child {
    margin-right: 0;
}
.card-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card-cat {
    position: absolute;
    top: 0;
    background-color: rgb(173, 41, 123);
    color: white;
    padding: 5px;
    border-radius: 10px 0 0 0;
}
.card-content {
    padding: 0 16px;
}
.card-ttl {
    color: rgb(153, 153, 153);
    line-height: 30px;
}
.tag {
    display: flex;
    justify-content: space-between;
}
.card-date {
    color: rgb(153, 153, 153);
    font-size: 14px;
}
.card-tag {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.btn {
    display: flex;
}
.btn-item {
    margin: 40px auto;
    text-decoration: none;
    padding: 15px 40px;
    background-color: white;
    border: solid 2px rgb(173, 41, 123);
    border-radius: 30px;
    color: rgb(173, 41, 123);
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .card {
    flex-wrap: wrap;
    }
    .card-contener:nth-child(n+1)  {
    margin-right: 0;
    }
}

/* グループ５ Company*/
.group5 {
    width: 60%;
    margin: 50px auto;
}
.table {
    border-collapse: collapse;
    width: 100%;
}
.table-ttl {
    border: 1px solid rgb(146, 146, 146);
    padding: 10px;
    background-color: rgb(216, 216, 216);
    text-align: left;
}
.table-text {
    border: 1px solid rgb(146, 146, 146);
    padding: 10px;
}



.content-bottom-img {
    width: 100%;
    display: flex;
    padding: 0;
}

.img_recruit {
    width: 100%;
}
.img_interview {
    width: 100%;
}
.content-img_recruit {
    flex-grow: 1;
    position: relative;
}
.content-img_interview {
    flex-grow: 1;
    position: relative;
}
.recruit-ttl {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    color: white;
}
.interview-ttl {
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    color: white;
}

@media screen and (max-width: 768px) {
    .content-bottom-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    }
}
@media screen and (max-width: 480px) {
    .recruit-ttl {
        font-size: 20px;
    }
    .interview-ttl{
        font-size: 20px;
    }
}


.content-read {
    font-weight: bold;
    text-align: center;
    color: rgb(146, 146, 146);
    margin: 80px 0 10px 0;
}


.v-line {
    border-right: 3px solid rgb(173, 41, 123);
    height: 35px;
    width: 50%;
    text-align: center;
    display: inline-block;
}


.form-btn {
    display: flex;
}
.form-btn-item {
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 80px;
    background: linear-gradient(90deg,rgb(224, 130, 182),rgb(173, 41, 123));
    box-shadow: 0 10px 0px rgb(173, 41, 123);
    color: white;
}
.form-btn-item::before {
    content: "";
    position: absolute;
    background: url(../img/mailicon.svg)no-repeat;
    background-size: cover;
    width: 30px;
    height: 30Px;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

/* フッター */
footer {
    text-align: center;
    margin: 30px 0;
}
.copy-right {
    color: rgb(146, 146, 146);
}